:root { 
   /* change the values below to your chosen font(s) */
   --heading-font: "Bad Script", Arial, sans-serif;
   --paragraph-font: Comfortaa, Helvetica, sans-serif;
   --other-font: Barlow, Helvetica, sans-serif;
 
   /* these colors below are used in this form */
   --primary-color: #27272b;  
   --secondary-color: #eee; 
   --button-background-color: #6b098cd6;
   --paragraph-color: #eee; 
   --header-background-color: #445ba9;
 }

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}
.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}
.stars > label {
	color: #445ba9;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}
.stars > label:hover {
	color: #000;
}
.stars > label::before {
	content: "\2606";
}
.stars input:checked ~ label::before {
	content: "\2605";
}
/* Review Page Styling */
* {
	box-sizing: border-box;
}
h1 {
	font-size: xx-large;
}
body {
	height: auto;
	display: flex;
	flex-direction: column ;
	place-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
	font-size: large;
	margin: 0;
	padding: 0;
	background-color: rgb(128, 123, 123);
}
.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}
form {
	background-color: var(--secondary-color);
	padding: 1rem;
	border-radius: 6px;
}
fieldset {
	margin: 1rem;
	border: none;
	/* border-radius: 6px; */
	padding: .5rem 2%;
}
.ws1 legend {
	color: #445ba9;
	padding: 0 .5rem;
}
.ws1 label {
	display: block;
	padding-top: 1rem;
	font-size: .9rem;
}
form p, form span {
	font-style: italic;
}
form p {
	margin: -7px 0 10px 0;
}
input[type="text"], button[type="submit"], #product, [type="date"]{
	background-color: var(--secondary-color);
	display: block;
	border: 1px solid #999;
	border-radius: 6px;
	padding: .75rem;
	width: 100%;
	max-width: 400px;
}
#product, [type="date"] {
	border-left: 6px solid var(--button-background-color);
}
[type="text"] {
	margin-top: 7px;
}
button[type="submit"] {
	width: 96%;
	margin: 0 auto;
	background-color: var(--button-background-color);
	color: var(--paragraph-color);
	font-size: larger;
	font-family: Barlow, sans-serif;
}
input[type="textarea"] {
	height: 70px;
	width: 100%;
	font-size: larger;
}
input[type="checkbox"] {
	margin-right: 6px;
}
.feature{
	display: flex;
	flex-direction: column;
}
footer, header {
	background-color: var(--header-background-color);
	height: 5rem;
	margin: 10px;
	text-align: center;
	font-size: 30px;
	font-family: comfortaa, sans-serif;
	color: var(--paragraph-color);
}
footer {
	font-size: 12px;
}
footer, header, form {
	width: 100%;
	max-width: 400px;
}
main.reviewed {
	width: 400px;
	height: 300px;
	color: var(--paragraph-color);
	background-color: #4d4040;
	border: 2px solid #999;
	border-radius: 6px;
	text-align: center;
	padding: 4.5em;
	margin-top: 10rem;
}