:root {
    --body-background: rgb(252, 97, 91);
    --secondary: #ff4c3b;
    --light-on-color: #f79191d5;
    --background: rgb(249, 97, 97) ;
    --text-color: rgb(24, 22, 22);
    /* --active: rgba(240, 170, 40, 0.849); */
    --nav-text: rgb(9, 8, 8);
    /* --layout: solid 1px rgb(253, 105, 112); */
    --cards: rgb(249, 172, 199);
}

/* slide show on home page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--body-background);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.slideshow-container {
    position: relative;
    max-width: 520px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slideshow-container img {
    max-width: 520px;
    height: auto;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* header and navigation */
.logo-container {
    display: flex;
    align-items: normal;
}

.logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

header {
    grid-row: 1/2;
    background-color: var(--primary);
    color: var(--nav-text);
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 75px;
}
header h1 {
    padding: 15px;
    height: 75px;
}
#menu {
    display: block;
    font-size: 2.5rem;
    font-weight:700;
    text-decoration: none;
    padding: .85rem .85rem;
    color: var(--nav-text);
    margin-right: 5px;
    width: 50px;
    height: 100vh;
}
#menu::before {
    content: "≣";
}
.open a {
    display: block;
    width: 100px;
    transition: 5ms;
}
#menu.open::before {
    content: "⨉";
    font-size: xx-large;
}
nav {
    position: absolute;
    top: 75px;
    right: 0;
}
nav a:hover, 
nav a:active {
    background-color: var(--light-on-color);
}
nav a {
    display: none;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation {
    background-color: var(--background);
}
main h1 {
    padding-top: 10px;
    margin: 15px;
    text-align: center;
    font-size: xx-large;
    font-family: Montserrat, sans-serif, serif;
}
main p {
    font-size: small;
    text-align: center;
    font-family: playfair Display, sans-serif;
    margin-bottom: 2px;
}
.open a {
    display: block;
    width: 150px;
    transition: 5ms;
}
#menu.open::before {
    content: "⨉";
    font-size: xx-large;
}
#cards {
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: var(--cards);
    padding: 20px;
    box-shadow: 0 0 40px #434343;
}

section {
    margin: 0.15rem;
    padding: 0.35rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:hover {
    transform: scale(1.05);
  }
  
img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 10px #777;
    height: 200px;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.03);
  }

.image-container {
    width: 350px;
    height: 400px;
    margin: 15px auto ;
    background-color: var(--secondary);
}
.image-container span {
    color: rgb(59, 48, 34);
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
}
footer {
    border-top: 0.5rem;
    grid-row: 3/4;
    background-color: var(--background) ;
    color: var(--nav-text);
    text-align: center;
    padding: 10px;
    height: 75px;
}


@media only screen and (min-width: 530px){
    /* main h1 {
        font-size: xx-large;
        font-family: Montserrat, sans-serif, serif;
    }
    main h2 {
        letter-spacing: 5px;
        font-size: x-large;
    } */
    
    .navigation {
        position: absolute;
        top: 25px;
        right: 0;
        padding: 0;
		width: clamp(50%, 50vw, 500px);
	}
	.navigation a {
        display: inline;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 30px;
        /* margin: 0; */
	}
	#menu {
		display: none;
	}
}
