/* @media screen and (min-width: 740px) {
    body {
       max-width: 1080px;
       margin: auto;
       color: rgb(45, 40, 40);
    }
    
    header {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    
    nav {
        padding: 1rem;
        background-color: rgba(86, 86, 240, 0.485);
    }
    #menu {
       display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav a {
        display: flex;
        flex: 1 1 100%;
    }
    .navigation li{
        display: flex;
    }
    h2 {
        grid-column: 2;
    }
    
    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1.5rem;
       
    }
    .pictures {
        grid-column: auto;
    }
} */


@media only screen and (min-width: 631px){
    /* main h1 {
        font-size: xx-large;
        font-family: Montserrat, sans-serif, serif;
    }
    main h2 {
        letter-spacing: 5px;
        font-size: x-large;
    } */
    
    .navigation {
        position: absolute;
        top: 25px;
        right: 0;
        padding: 0;
		width: clamp(50%, 50vw, 500px);
	}
	.navigation a {
        display: inline;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 30px;
        /* margin: 0; */
	}
	#menu {
		display: none;
	}
}
